body {
  font-family: Ubuntu, sans-serif;
}

.app {
  background-color: #f3f1f1;
  background-repeat: repeat-y;
  min-height: 100vh;
}

.burger {
  height: 3rem;
  width: 3rem;
  border: none;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background: url('../assets/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: none;
  cursor: pointer;
}
.menu {
  z-index: 1;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(136, 136, 136, 0.18);
}

.menu li {
  line-height: 1;
  cursor: pointer;
}

.main {
  padding: 5.5rem 1rem 0.5rem;
}
