body {
  font-family: Ubuntu, sans-serif;
}

.app {
  background-color: #f3f1f1;
  background-repeat: repeat-y;
  min-height: 100vh;
  z-index: -2;
}

.main {
  padding: calc(4rem + 1.5vw) 1rem 0.5rem;
}

/*summary*/
.summary__ul {
  font-size: calc(0.6rem + 0.7vw);
}
.summary--margin {
  margin-top: 2vw;
}
