body {
  font-family: sans-serif;
}

.burger {
  height: 3rem;
  width: 3rem;
  border: none;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background: url('../assets/burger.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: none;
  cursor: pointer;
}
.menu {
  z-index: 1;
}

.menu li {
  line-height: 2;
  cursor: pointer;
}
