.nav {
  background-color: #00b6d2;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  cursor: pointer;
  vertical-align: middle;
}
.tax {
  background-image: url('../assets/icons/black/tax.svg');
  background-color: #fdb813;
}
.own {
  background-image: url('../assets/icons/black/ownership.svg');
  background-color: #00b6d2;
}
.tech {
  background-image: url('../assets/icons/black/tech.svg');
  background-color: #e6681c;
}
.wel {
  background-image: url('../assets/icons/black/welfare.svg');
  background-color: #f68b1f;
}
.work {
  background-image: url('../assets/icons/black/workplace.svg');
  background-color: #00b6d2;
}
.ask {
  background-image: url('../assets/icons/black/ask.svg');
  background-color: #ffe30d;
}

.icon-bg {
  width: calc(60px + 8vw);
  height: calc(60px + 8vw);
}

.row {
  margin: 1vw;
}

.icon-container {
  margin-left: calc(25px - 1vw);
  margin-right: calc(25px - 1vw);
}

.current-icon {
  height: 3rem;
  width: 3rem;
  border: none;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.current-home {
  background-image: url('../assets/icons/white/home.svg');
}

.current-tax {
  background-image: url('../assets/icons/white/tax.svg');
}
.current-ownership {
  background-image: url('../assets/icons/white/ownership.svg');
}
.current-technology {
  background-image: url('../assets/icons/white/tech.svg');
}
.current-welfare {
  background-image: url('../assets/icons/white/welfare.svg');
}
.current-workplace {
  background-image: url('../assets/icons/white/workplace.svg');
}
.current-askanmp {
  background-image: url('../assets/icons/white/ask.svg');
}
