.nav {
  background-color: #00b6d2;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  cursor: pointer;
}
.tax {
  background-image: url('../assets/edu.svg');
  background-color: #fdb813;
}
.own {
  background-image: url('../assets/hea.svg');
  background-color: #00b6d2;
}
.tech {
  background-image: url('../assets/ask.svg');
  background-color: #e6681c;
}
.wel {
  background-image: url('../assets/econ.svg');
  background-color: #f68b1f;
}
.work {
  background-image: url('../assets/hou.svg');
  background-color: #00b6d2;
}
.ask {
  background-image: url('../assets/env.svg');
  background-color: #ffe30d;
}
