.nav {
  background-color: #00b6d2;
  width: 100%;
  position: fixed;
}

.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  cursor: pointer;
  vertical-align: middle;
}
.tax {
  background-image: url('../assets/edu.svg');
  background-color: #fdb813;
}
.own {
  background-image: url('../assets/hea.svg');
  background-color: #00b6d2;
}
.tech {
  background-image: url('../assets/ask.svg');
  background-color: #e6681c;
}
.wel {
  background-image: url('../assets/econ.svg');
  background-color: #f68b1f;
}
.work {
  background-image: url('../assets/hou.svg');
  background-color: #00b6d2;
}
.ask {
  background-image: url('../assets/env.svg');
  background-color: #ffe30d;
}

.icon-bg {
  width: calc(60px + 8vw);
  height: calc(60px + 8vw);
}
.row {
  margin: 1vw;
}

.icon-container {
  margin-left: 1.2vw;
  margin-right: 1.2vw;
}
