.CircularProgressbar.incomplete .CircularProgressbar-path {
  stroke: hotpink;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
  animation: color-change 12s infinite;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: hotpink;
  font-size: 1.5rem;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar.complete .CircularProgressbar-path {
  stroke: hotpink;
}

@keyframes color-change {
  0% {
    stroke: hsla(0, 100%, 80%, 1);
  }
  10% {
    stroke: hsla(36, 100%, 80%, 1);
  }
  20% {
    stroke: hsla(72, 100%, 80%, 1);
  }
  30% {
    stroke: hsla(108, 100%, 80%, 1);
  }
  40% {
    stroke: hsla(144, 100%, 80%, 1);
  }
  50% {
    stroke: hsla(180, 100%, 80%, 1);
  }
  60% {
    stroke: hsla(216, 100%, 80%, 1);
  }
  70% {
    stroke: hsla(250, 100%, 80%, 1);
  }
  80% {
    stroke: hsla(309, 74%, 66%, 1);
  }
  90% {
    stroke: hsla(324, 87%, 65%, 1);
  }
  100% {
    stroke: hotpink;
  }
}
