.icon {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-size: 50%;
}

.home-no-bg {
  background-image: url('../assets/icons/pink/home.svg');
  background-color: white;
}
.tax-no-bg {
  background-image: url('../assets/icons/pink/tax.svg');
  background-color: white;
}
.own-no-bg {
  background-image: url('../assets/icons/pink/ownership.svg');
  background-color: white;
}
.tech-no-bg {
  background-image: url('../assets/icons/pink/tech.svg');
  background-color: white;
}
.wel-no-bg {
  background-image: url('../assets/icons/pink/welfare.svg');
  background-color: white;
}
.work-no-bg {
  background-image: url('../assets/icons/pink/workplace.svg');
  background-color: white;
}
.ask-no-bg {
  background-image: url('../assets/icons/pink/ask.svg');
  background-color: white;
}
