.icon {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.tax-no-bg {
  background-image: url('../assets/edu.svg');
  background-color: white;
}
.own-no-bg {
  background-image: url('../assets/hea.svg');
  background-color: white;
}
.tech-no-bg {
  background-image: url('../assets/ask.svg');
  background-color: white;
}
.wel-no-bg {
  background-image: url('../assets/econ.svg');
  background-color: white;
}
.work-no-bg {
  background-image: url('../assets/hou.svg');
  background-color: white;
}
.ask-no-bg {
  background-image: url('../assets/env.svg');
  background-color: white;
}
