.modal-card {
  height: calc(800px - 18vh);
}

.infograph-container {
  height: 0;
  width: 0;
}
.modal-info {
  position: absolute;
  right: 6rem;
  bottom: 3rem;
  background-color: hotpink;
  color: white;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  font-size: 2rem;
}

.modal-button:focus {
  outline: none;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
