.Modal {
  position: absolute;
  top: 40px;
  left: 100px;
  right: 100px;
  bottom: 40px;
  background-color: hotpink;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
