/*Icon styling*/
.megaphone {
  background-image: url('../assets/icons/black/upvote.svg');
  background-color: #fdb813;
}

.bin {
  background-image: url('../assets/icons/black/downvote.svg');
  background-color: #e6681c;
}

.icon-snippet {
  height: 6rem;
  width: 6rem;
}


/*transform: scale(0.7, 0.7) translate(-5vw, -5vw);*/

/*Stack styles*/
#viewport {
  margin: auto;
}

#viewport .stack {
  width: 30rem;
  height: 400px;
  position: relative;
  margin: auto;
  z-index: 1;
}

#viewport .card {
  /*transform: translate(calc(100px - 18vw), calc(100px - 18vw));*/
  width: 30rem;
  height: 400px;
  list-style: none;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 300px;
  text-align: center;
  font-size: 3rem;
  /*border: 10px solid #ececec;*/
  background: url('../assets/snippet.svg');
  background-size: 100% 100%;
  box-sizing: border-box;
  cursor: default;
}

#viewport .clubs,
#viewport .spades {
  color: #373737;
}

#viewport .diamonds,
#viewport .hearts {
  color: #ed5d52;
}

#viewport .in-deck:nth-child(3) {
  top: 2px;
  transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport .in-deck:nth-child(2) {
  top: 4px;
  transform: translate(-4px, -2px) rotate(-1deg);
}

.snippet {
  width: 250px;
  height: 300px;
  padding: 6rem;
}

.snippet h2 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 0rem;
  margin-bottom: 0;
}

.snippet p {
  font-size: 1rem;
  line-height: 1.6;
}

.stack-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.2);
  width: 13rem;
  padding: 1rem;
  height: 13rem;
  font-size: 1.6rem;
  background-color: hotpink;
  color: white;
  z-index: -1;
}
